.nav-parent{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: #151B26;
    width: 15vw;
}

.nav-main{
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: space-between;
}

.nav-section-2{
    font-size: small;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.nav-section-2 h1{
    height: 20px;
}


.nav-section-2 h1:hover{
    width: 250px;
    background: lightgrey;
}